{% extends "/layout/template.php.twig" %}

{% block title %}Dashboard{% endblock %}
{% block header %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <div class="content pb-5 mb-5 mt-5">
        {% block jumbotron %}
            {{ parent() }}
        {% endblock %}
        <div class="container">
            <h2 class="font-acme text-uppercase">Manage game levels</h2>
            <hr align="left" class="w-50 pb-4">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12 col-12 shadow-sm mb-4 p-4">
                   <a class="btn btn-block btn-dark text-uppercase rounded-pill font-acme" href="/new-level">new level <span>&#10010;</span></a>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-12 col-12 shadow-sm mb-4 p-4 pl-0 pr-0">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="thead-dark">
                            <tr class="font-sil">
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Total coints</th>
                                <th scope="col">Total stars</th>
                                <th scope="col">Edit</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th class="font-acme">1</th>
                                <td class="font-acme">Mark</td>
                                <td class="font-acme">Otto</td>
                                <td class="font-acme">@mdo</td>
                                <td><a class="text-decoration-none" href="/edit/level/1"><span class="h4">&#9997;</span></a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}
    {{ parent() }}
{% endblock %}
