{% extends "/layout/template.php.twig" %}

{% block title %}Login{% endblock %}
{% block header %}
{% endblock %}
{% block content %}
    <div class="content">
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-sm-10 offset-sm-1 col-12">
                    <div class="card p-4 shadow-lg rounded-0">
                        <img src="/img/small-logo.png" alt="logo" class="d-block mx-auto img-fluid rounded-circle">
                        <strong class="text-center font-acme">Nort Art Games</strong>
                        <p class="text-center h4 font-weight-light mb-3 font-sil">
                            Forgotten Traveler</p>
                        <form method="post" action="{{ path_for('login.page') }}" class="font-acme">
                            <div class="form-group">
                                <input type="email" name="email" class="form-control rounded-pill is-invalid" id="email"
                                       aria-describedby="emailHelp" placeholder="Enter email">
                                <span class="small text-danger pl-3" id="email-err">Input is not an email</span>
                            </div>
                            <div class="form-group pb-2">
                                <input type="password" name="password" class="form-control rounded-pill is-invalid" id="password"
                                       placeholder="Password">
                            </div>
                            {% if msg is not empty %}
                                <div class="alert small text-center rounded-pill fade show {{msg|keys[0]}}" role="alert" id="login-err">
                                    {{ msg[msg|keys[0]][0]|trim }}
                                </div>
                            {% endif %}
                            <button type="submit" class="btn btn-dark btn-block rounded-pill font-weight-bolder">LOGIN</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}
    {{ parent() }}
{% endblock %}
{% block js %}
    <script>
        $(document).ready(function () {
            $('#password').on('input', function () {
                $(this).removeClass('is-invalid');
                $('#login-err').addClass('d-none');
            });
            $('#email').on('input', function () {
                $(this).removeClass('is-invalid');
                $("#email-err").addClass('d-none');
                $('#login-err').addClass('d-none');
            });
        });
    </script>
{% endblock %}
